.tema{
    max-height: 5rem;
    height: 70px;
    border-radius: 40px;
    cursor: pointer;
    transition: .7s;
}

.tema.light:hover {
  background-color: var(--darkMode);
}

.tema.dark:hover {
  background-color: var(--lightMode);
}